*{
    box-sizing: border-box;
    margin: 0;
}

:root{
    /*Variables de color*/
    ---Luz: #ffe9e9;
    ---Sombra: #cb3a69;
    ---Rosa: #f74780;
    ---Rosa-claro: #f8a9c2;
    ---Rosa-chicle: #ff5497;
}

body{
    background-color: var(---Rosa);

    color: aliceblue;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/***** GRID VALIDADA ✅ *****/
.grid-container{
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-rows: 90px 1fr 160px;
}

/***** HEADER VALIDADO ✅ *****/
.header{
    width: 100%;

    display: flex;
    justify-content: space-around;
    place-items: center;

    font-weight: 500;
}

.header p{
    font-weight: 300;
    letter-spacing: 1.5px;
}

/***** ICONOS DEL HEADER VALIDADOS ✅ *****/

.icon-container{
    display: grid;

    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow:  11px 11px 34px var(---Sombra),
             -11px -11px 60px var(---Luz);

    place-items: center;
}

.icon-container svg{
    width: 25px;
    height: 25px;
}

/***** GRID DE LA CARD E INFO MUSICAL VALIDADA ✅ *****/

.card-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 200px;
    place-items: center;

    grid-template-areas: 
    "scroll-container"
    "music-info";
}

.scroll-container{
    width: 100%;
    height: 100%;
    margin: 0 auto;

    grid-area: scroll-container;

    align-items: center;

    display: flex;
    column-gap: 30px;

    overflow: hidden;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.scroll-container::-webkit-scrollbar{
    display: none;
}

.card-music{
    min-width: 280px;
    height: 280px;
    padding: 12px;

    border-radius: 30px;
    box-shadow:  44px 22px 36px var(---Sombra),
                4px -11px 48px var(---Luz);

    scroll-snap-align: center;
}

.card-music:first-child{
    margin-left: 24px;
}

.card-music:last-child{
    margin-right: 24px;
}

.card-music img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.music-info{
    width: 100%;
    height: 100%;

    grid-area: music-info;

    display: grid;
    grid: repeat(4, 1fr) / repeat(6, 1fr);
    justify-items: center;
    align-items: end;

}

.music-info h1{
    grid-area: 1 / 2 / 2 / 6;
    font-size: 1.3rem;
}

.music-info span{
    grid-area: 2 / 2 / 3 / 6;
    font-size: 1.1rem;
    font-weight: 400;
    align-self: center;
}

.music-info .music-timing{
    grid-area: 3 / 1 / 4 / 7;
    align-self: end;
}

.music-info .circle{
    grid-area: 3 / 1 / 4 / 7;
}

.music-timing{
    width: 85%;
    height: 10px;

    border-radius: 20px;
    border: 1px solid var(---Rosa-chicle);

    background-color: var(---Rosa-claro);
    box-shadow:  18px 18px 36px var(---Sombra),
             -18px -18px 50px var(---Luz);
}

.time{
    width: 45%;
    height: 10px;
    border-radius: 20px;

    background-color: var(---Sombra);
    border: 1px solid var(---Sombra);
    display: flex;
    position: relative;
}

.circle{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 96%;

    border-radius: 50%;
    background-color: var(---Sombra);
    border: 1px solid var(---Sombra);

    align-self: center;
}

.music-info p{
    grid-area: 4 / 1 / 5 / 2;
    justify-self: end;
    align-self: center;
}

.music-info p:last-child{
    grid-area: 4 / 6 / 5 / 7;
    justify-self: start;
}

.music-info p{
    font-size: 0.8rem;
}

.music-container{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    place-items: center;

    font-weight: 500;
}

.icon-footer{
    display: grid;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    place-items: center;

    box-shadow:  18px 18px 36px var(---Sombra),
             -11px -11px 70px var(---Luz);
}

.icon-footer div{
    display: grid;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid var(---Rosa-claro);

    place-items: center;
}

.icon-footer svg{
    width: 25px;
    height: 25px;
}

.music-container div:nth-child(3){
    width: 70px;
    height: 70px;
    padding: 5px;
}

.icon-pause{
    display: grid;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    place-items: center;

    box-shadow:  18px 18px 36px var(---Sombra),
             -11px -11px 70px var(---Luz);
}

.icon-pause div{
    display: grid;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 7px solid var(---Rosa-claro);

    place-items: center;
}

.icon-pause svg{
    width: 25px;
    height: 25px;
}


/***** SALTOS DE BREAKPOINTS *****/

/* DESKTOP */

@media screen and (min-width: 900px) {
    .scroll-container{
        justify-content: center;
    }
    .circle{
        left: 98%;
    }
    .music-container{
        width: 900px;
        margin: 0 auto;
    }
}