*{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body{
    background-color: #f6c8c7;

    color: #976565;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container{
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-rows: 100px 1fr 140px;
}

.header{
    width: 100%;

    display: flex;
    justify-content: space-around;
    place-items: center;

    font-weight: 500;
}

.icon-container{
    display: grid;

    width: 50px;
    height: 50px;
    background-color: #f6c8c7;
    border-radius: 10px;
    box-shadow: 20px 20px 100px #df918b,
                -10px -10px 120px #d3acac;

    place-items: center;
}

.icon-container img{
    width: 30px;
    height: 30px;
}

.card-container{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 250px;
    place-items: center;
}

.card-music{
    width: 260px;
    height: 260px;
    padding: 12px;

    background-color: #f6c8c7;
    border-radius: 30px;
    box-shadow: 5px 5px 60px #df918b,
                -5px -5px 60px #d3acac;
}

.card-music img{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.music-info{
    width: 100%;
    height: 100%;

    display: grid;
    grid: repeat(4, 1fr) / repeat(6, 1fr);
    justify-items: center;
    align-items: end;
}

.music-info h1{
    grid-area: 1 / 2 / 2 / 6;
    font-size: 1.2rem;
}

.music-info span{
    grid-area: 2 / 2 / 3 / 6;
    font-size: 1rem;
    align-self: start;
    margin-top: 15px;
}

.music-info .music-timing{
    grid-area: 3 / 1 / 4 / 7;
    align-self: end;
}

.music-info .circle{
    grid-area: 3 / 1 / 4 / 7;
}

.music-timing{
    width: 85%;
    height: 10px;
    border-radius: 20px;
    background-color: #e9b4b0;
}

.time{
    width: 45%;
    height: 10px;
    border-radius: 20px;

    background-color: #df918b;
    display: flex;
    justify-content: end;
}

.circle{
    width: 16px;
    height: 16px;

    border-radius: 50%;
    background-color: #df918b;

    align-self: center;
}

.music-info p{
    grid-area: 4 / 1 / 5 / 2;
    justify-self: end;
    align-self: center;
}

.music-info p:last-child{
    grid-area: 4 / 6 / 5 / 7;
    justify-self: start;
}

.music-info p{
    font-size: 0.8rem;
}

.music-container{
    width: 100%;

    display: flex;
    justify-content: space-around;
    place-items: center;

    font-weight: 500;
}

.icon-footer{
    display: grid;

    width: 50px;
    height: 50px;
    border-radius: 50%;

    place-items: center;

    background-color: #f6c8c7;
    box-shadow: 20px 20px 100px #df918b,
                -10px -10px 120px #d3acac;
}

.icon-footer img{
    width: 25px;
    height: 25px;
}

.music-container div:nth-child(3){
    width: 70px;
    height: 70px;
    padding: 5px;
}

.icon-pause div{
    display: grid;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 7px solid #df918b;

    place-items: center;
}